* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --greydark: #4a4a4a;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 62.5%;
  background-color: white;
}

/* ===== header ===== */
.header-mobile {
  display: none;
}

header {
  height: 6.4rem;
  max-height: 6.4rem;
  width: 100%;


  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  opacity: 0.9;
}

header .header-left {
  display: flex;
  align-items: center;
  padding-left: 2.4rem;
}

.header-left .logo {
  height: 3.2rem;
  max-height: 3.2rem;
  overflow: hidden;
}

.logo>img {
  display: block;
  width: 100%;
}

.header-left>h1 {
  padding-left: 1rem;
  font-size: 2rem;
}

.header-left>h1>span {
  font-size: 2rem;
  color: gray;
  font-weight: lighter;
}

.header-right {
  padding-right: 2.4rem;
}

.header-right>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.6rem;
}

.header-right>ul>li>a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  color: var(--greydark);
}

.header-right>ul>li>a:hover {
  color: #56B6FF;
  font-weight: bold;
  text-decoration: overline;
}

/* ===== section banner ===== */
.banner {
  display: flex;
  height: auto;
  background-color: lightgray;
  padding-top: 32px;
  width: 100%;

}

.banner-left {
  margin: 3.2rem 2.4rem;
  flex: 6;
  width: 60%;
}

.banner-left img {
  width: 100%;
}

.banner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4;
  padding-left: 24px;
  width: 40%;
}

.banner-right>h1 {
  color: #424949;
  font-size: 4.5rem;
  font-weight: bolder;

}

.banner-right>p {
  color: #424949;
  padding: 24px 0;
  font-size: 2.1rem;
  font-weight: bolder;
}

.banner-right>button {
  background-color: #424949;
  padding: 8px;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.banner-right>button:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 10px 18px #888888;
}

.banner-right>button>a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* ===== section information ===== */
.info {
  padding: 32px 0 32px 0;
  display: flex;
  height: auto;
  background-color: white;
  width: 100%;

}

.info-left {
  width: 60%;
  height: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.info-left img {
  width: 100%;
  height: auto;
}


.info-content>h2 {
  font-size: 3.5rem;
  color: #424949;
  padding-top: 32px;
}

.info-content .comment {
  font-size: 2rem;
  color: #424949;
  padding-top: 24px;
}

.info-content .by {
  padding-top: 30px;
  font-size: 1.5rem;
  color: #424949;
  font-weight: bold;
}

.info-right {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info-box {
  display: flex;
  flex-direction: row;

  padding: 16px 0 16px 16px;
}

.info-img {
  width: 35%;
}

.info-img img {
  width: 100%;

  height: auto;
}

.info-box>.info-box-content {
  width: 65%;

  align-self: center;

  padding: 18px;
}

.info-box-content>h4 {
  font-size: 2rem;
  color: #424949;
}

.info-box-content>p {
  font-size: 1.5rem;
  color: #424949;
}

.info-box-content>a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #56b6ff;
  text-decoration: none;
}

.info-box-content>a:hover {
  text-decoration: underline;
}

#orient {
  margin-top: -16px;
}

#guest {
  background-color: lightgray;
}

/* ===== section course ===== */
.course {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;

}

.course-header h1 {
  text-align: center;
  color: #424949;
  font-size: 4rem;
}

.course-box-layout {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 0 72px;
  gap: 32px;

}

.course-box-individual {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 300px;
  margin-top: 16px;
  flex: 1;
}

.course-box-individual>img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.course-box-content {
  padding: 16px 16px 24px 16px;
}

.course-box-content>h2 {
  color: #424949;
  font-size: 2rem;
}

.course-box-content>h3 {
  color: #424949;
  font-weight: normal;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.5rem;
}

.course-box-content>p {
  color: #424949;
  font-size: 1.5rem;
}

/* ===== section thesis =====  */

.thesis {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 32px 0 24px 0;

}

.thesis-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;


}

.thesis-header>h1 {
  text-align: center;
  padding-bottom: 32px;
  color: #424949;
  font-size: 3.5rem;
}

.thesis-content {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.thesis-left {
  width: 60%;

  padding-left: 24px;
}

.thesis-left video {
  width: 100%;
  height: auto;
}

.thesis-vdo-content {
  padding-top: 24px;
  padding-bottom: 32px;
}

.thesis-vdo-content>h2 {
  color: #424949;
  padding-bottom: 8px;
  font-size: 2rem;
}

.thesis-vdo-content>p {
  color: #424949;
  font-size: 1.5rem;
}

.thesis-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  width: 40%;
}

.thesis-box {
  display: flex;
  flex-direction: row;

  align-items: center;

  color: #424949;
}

.thesis-box>img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.thesis-box h2 {
  font-size: 2rem;
}

.thesis-box p {
  font-size: 1.5rem;
}

#fisma {
  background-color: lightgray;
}

/* ===== footer ===== */
footer {

  width: 100%;
}

.footer {
  padding: 16px 24px 24px 24px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.footer-left>p {
  color: gray;
  font-size: 14px;
}

.footer-right>ul {
  list-style: none;
  display: flex;

  gap: 20px;
  font-size: 14px;
}

.footer-right>ul>li>a {
  text-decoration: none;
  color: gray;
}

@media only screen and (max-width: 844px) {
  body{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  .header-left,
  .header-left h1,
  .header-right,
  .logo {
    display: none;
  }
  
  header {
    height: 6.4rem;
    max-height: 6.4rem;
    width: 100%;
    align-items: flex-start;
    margin-left: 0;
  }

  .header-mobile {
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-around;
    position:absolute;
  }
  
  .header-mobile a {
    display: flex;
  }

  .banner-right h1 {
    font-size: 30px;
  }

  .banner-right>button{
    width: auto;
  }
}